mesh "cube"
mesh "grass"
mesh "icosahedron"
mesh "planet" dynamic=true
mesh "tetrahedron"

sampler "pixel" {
    address-mode-u "CLAMP_TO_BORDER"
    address-mode-v "CLAMP_TO_BORDER"
    unnormalized-coordinates
}

descriptor-set "object" 4096 {
    uniform "mvp" "VERTEX" "ModelViewProjection"
    uniform "material" "FRAGMENT" "Material"
    uniform "light" "FRAGMENT" "Light"
    uniform "settings" "FRAGMENT" "FragSettings"
    acceleration-structure "tlas" "FRAGMENT"
}
descriptor-set "grass" 1 {
    uniform "planet_mvp" "VERTEX" "ModelViewProjection"
    uniform "grass" "VERTEX" "GrassUniform"
    uniform "light" "FRAGMENT" "Light"
    uniform "settings" "FRAGMENT" "FragSettings"
    acceleration-structure "tlas" "FRAGMENT"
}
descriptor-set "skybox" 1 {
    uniform "mvp" "VERTEX" "ModelViewProjection"
}
descriptor-set "atmosphere" 1 {
    input-attachment "render" "FRAGMENT" msaa=true
    input-attachment "position" "FRAGMENT" msaa=true
    uniform "atmosphere" "FRAGMENT" "Atmosphere"
    uniform "camera" "FRAGMENT" "Camera"
}
descriptor-set "gaussian" 1 {
    image "render" "FRAGMENT" "pixel" msaa=true
    uniform "gaussian" "FRAGMENT" "Gaussian"
}
descriptor-set "postprocess" 1 {
    image "render" "FRAGMENT" "pixel" msaa=true
    image "bloom" "FRAGMENT" "pixel"
    uniform "postprocessing" "FRAGMENT" "Postprocessing"
}

pass "render" {
    debug-name "Forward rendering pass"
    debug-color 160 167 161
    subpass "rasterization" {
        msaa
        color-attachment "color-1-rasterization" {
            layout "COLOR_ATTACHMENT_OPTIMAL"
            layout-final "SHADER_READ_ONLY_OPTIMAL"
            clear 0 0 0 0
            transient; store; input-attachment
        }
        color-attachment "position" {
            format "R32G32B32A32_SFLOAT"
            layout "COLOR_ATTACHMENT_OPTIMAL"
            layout-final "SHADER_READ_ONLY_OPTIMAL"
            clear 0 0 0 0
            transient; store; input-attachment
        }
        depth-attachment "depth" {
            layout "DEPTH_STENCIL_ATTACHMENT_OPTIMAL"
            clear 1
            transient
        }
        pipeline "object" {
            vertex-binding {
                attribute "vertex_position" "R32G32B32_SFLOAT"
                attribute "vertex_normal" "R32G32B32_SFLOAT"
            }
            descriptor-sets "object"
        }
        pipeline "grass" {
            vertex-binding {
                attribute "vertex_position" "R32G32B32_SFLOAT"
                attribute "vertex_normal" "R32G32B32_SFLOAT"
            }
            vertex-binding rate="INSTANCE" {
                attribute "blade_position" "R32G32B32_SFLOAT"
                attribute "blade_up" "R32G32B32_SFLOAT"
                attribute "blade_right" "R32G32B32_SFLOAT"
                attribute "blade_front" "R32G32B32_SFLOAT"
                attribute "blade_height_noise" "R32_SFLOAT"
                attribute "ground_normal" "R32G32B32_SFLOAT"
            }
            descriptor-sets "grass"
            cull-mode "NONE"
        }
        pipeline "skybox" {
            vertex-binding {
                attribute "vertex_position" "R32G32B32_SFLOAT"
                attribute "vertex_normal" "R32G32B32_SFLOAT" unused=true
            }
            descriptor-sets "skybox"
            cull-mode "FRONT"
        }
    }
    subpass "atmosphere" {
        msaa
        input-attachment "color-1-rasterization"
        input-attachment "position"
        color-attachment "color-2-atmosphere" {
            layout "COLOR_ATTACHMENT_OPTIMAL"
            layout-final "SHADER_READ_ONLY_OPTIMAL"
            store; sampled
        }
        pipeline "atmosphere" {
            specialization "msaa_samples" "FRAGMENT"
            descriptor-sets "atmosphere"
        }
    }
    dependency {
        src "rasterization" "COLOR_ATTACHMENT_OUTPUT" "COLOR_ATTACHMENT_WRITE"
        dst "atmosphere" "FRAGMENT_SHADER" "INPUT_ATTACHMENT_READ"
        by-region
    }
}
pass "gaussian" {
    debug-name "Gaussian pass"
    debug-color 244 244 247
    subpass "gaussian" {
        color-attachment "blurred-bloom" {
            layout "COLOR_ATTACHMENT_OPTIMAL"
            layout-final "SHADER_READ_ONLY_OPTIMAL"
            sampled; store
        }
        pipeline "gaussian" {
            specialization "msaa_samples" "FRAGMENT"
            descriptor-sets "gaussian"
        }
    }
}
pass "postprocess" {
    debug-name "Postprocess pass"
    debug-color 210 206 203
    subpass "postprocess" {
        color-attachment "color-3-postprocess" {
            layout "COLOR_ATTACHMENT_OPTIMAL"
            layout-final "PRESENT_SRC_KHR"
            store; swapchain
        }
        pipeline "postprocess" {
            specialization "msaa_samples" "FRAGMENT"
            descriptor-sets "postprocess"
        }
    }
}
