mesh "icosahedron"
mesh "tetrahedron"

descriptor-set "object" 1 {
    uniform "transform" "VERTEX" "Transform"
    uniform "material" "FRAGMENT" "Material"
}
descriptor-set "global" 1 {
    uniform "global" "ALL" "Global"
}

pass "render" {
    debug-name "Forward rendering pass"
    debug-color 160 167 161
    subpass "rasterization" {
        color-attachment "color-1-rasterization" {
            layout "COLOR_ATTACHMENT_OPTIMAL"
            layout-final "PRESENT_SRC_KHR"
            clear 0 0 0 0
            store; swapchain
        }
        depth-attachment "depth" {
            layout "DEPTH_STENCIL_ATTACHMENT_OPTIMAL"
            clear 1
            transient
        }
        pipeline "voxel" {
            vertex-binding {
                attribute "vertex_position" "R32G32B32_SFLOAT"
                attribute "vertex_normal" "R32G32B32_SFLOAT"
                attribute "vertex_material" "R16_UINT"
            }
            descriptor-sets "global"
        }
        pipeline "object" {
            vertex-binding {
                attribute "vertex_position" "R32G32B32_SFLOAT"
                attribute "vertex_normal" "R32G32B32_SFLOAT"
            }
            descriptor-sets "object" "global"
        }
        pipeline "star" {
            vertex-binding {
                attribute "vertex_position" "R32G32B32_SFLOAT"
                attribute "vertex_normal" "R32G32B32_SFLOAT" unused=true
            }
            vertex-binding rate="INSTANCE" {
                attribute "model_c1" "R32G32B32A32_SFLOAT"
                attribute "model_c2" "R32G32B32A32_SFLOAT"
                attribute "model_c3" "R32G32B32A32_SFLOAT"
                attribute "model_c4" "R32G32B32A32_SFLOAT"
                attribute "emit" "R32G32B32_SFLOAT"
            }
            descriptor-sets "global"
        }
        pipeline "skybox" {
            descriptor-sets "global"
        }
    }
}
