descriptor-set {
    uniform "global" "ALL" "Global"
    storage-buffer "stars" "ALL" "Star"
    storage-buffer "voxel_vertices" "ALL" "VoxelVertex"
    storage-buffer "voxel_triangles" "ALL" "VoxelTriangle"
    storage-buffer "voxel_meshlets" "ALL" "VoxelMeshlet"
    storage-buffer "voxel_octrees" "ALL" "SvoNode"
}

pipeline "voxel" task-shaders=true mesh-shaders=true
pipeline "voxel_rt"
pipeline "debug_voxel_triangle" mesh-shaders=true {
    cull-mode "NONE"
    polygon-mode "LINE"
}
pipeline "debug_voxel_world_bound" mesh-shaders=true
pipeline "debug_voxel_screen_bound" mesh-shaders=true
pipeline "sun" {
    vertex-binding {
        attribute "vertex_position" "R32G32B32_SFLOAT"
        attribute "vertex_normal" "R32G32B32_SFLOAT" unused=true
    }
}
pipeline "star" {
    vertex-binding {
        attribute "vertex_position" "R32G32B32_SFLOAT"
        attribute "vertex_normal" "R32G32B32_SFLOAT" unused=true
    }
}
pipeline "skybox"
